@function spacing($value) {
  @return $value * $spacingUnit;
}

@mixin flex($alignItems: center, $justifyContent: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
