.btn {
  box-shadow: none;
  border: none;
  background-color: $background;
  color: $textColor;
  padding: spacing(0.8) spacing(1.6);
  font-weight: bold;
  font-size: 1.3em;
  border-radius: $borderRadius;
  text-transform: uppercase;
  cursor: pointer;

  &.btn--full-width {
    width: 100%;
    box-sizing: border-box;
  }

  &.btn--primary {
    background-color: $primaryButtonColor;
    color: $primaryButtonTextColor;
  }

  &:disabled {
    opacity: 60%;
    cursor: default;
  }
}

.fab {
  position: fixed;
  bottom: spacing(4);
  right: spacing(4);

  width: 4rem;
  height: 4rem;
  border-radius: 100%;

  background-color: $fabBackgroundColor;
  color: inherit;
  text-decoration: none;

  @include flex($alignItems: baseline);
  font-size: 3rem;
}
