.navbar {
  background: $navbarBackground;
  padding: spacing(1);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include flex($justifyContent: space-between);
  flex-wrap: wrap;

  @include box-shadow;

  .site-title {
    margin: 0;
    a {
      color: $textColor;
      text-decoration: none;
    }
  }

  .nav-links {
    a {
      color: $navbarLinkColor;
      text-decoration: none;
      padding: spacing(0.8) spacing(1.6);
      border-radius: $navbarLinkBorderRadius;
      transition: background-color 0.5s $transitionInOutCubic;
      font-size: 1.1em;

      &:not(:last-of-type) {
        margin-right: spacing(2);
      }

      &.active {
        color: $navbarLinkActiveColor;
        background-color: $navbarLinkHoverBackground;
      }

      &:hover {
        background-color: $navbarLinkHoverBackground;
      }
    }
  }
}
