.products-card {
  width: 90%;
  max-width: 600px;
}

.product-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  
  overflow-y: auto;
}

.product-item {
  padding: spacing(2) 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  
  &:not(:last-of-type) {
    border-bottom: 1px solid $productItemSeparatorColor;
  }

  .product-info {
    flex-grow: 1;

    .product-info--name {
      font-weight: bold;
      font-size: 1.2em;
      color: $productNameColor;
    }
    
    .product-info--metadata {
      font-size: 1.1em;
      color: $productMetadataColor;
    }
    
    .product-info--description {
      color: $productDescriptionColor;
    }
  }

  .product-price {
    color: $productPriceColor;
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 spacing(2);
  }

  .product-actions {
    .product-actions--purchase {
      box-shadow: none;
      border: none;
      background-color: $productBuyButtonColor;
      color: $productBuyButtonTextColor;
      padding: spacing(0.5) spacing(0.6);
      font-weight: bold;
      font-size: 1.3em;
      border-radius: $productBuyButtonBorderRadius;
      text-transform: uppercase;
    }
  }
}

.product-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin-top: spacing(1);
  
  .product-quantity--selector {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .product-quantity--btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: $productQuantityButtonsBackground;
    font-size: 3em;
    font-weight: bold;
    font-family: monospace;
    border-radius: $productQuantityButtonsBorderRadius;
    width: 1.1em;
    height: 1.1em;
    
    color: $textColor;
    
    &:disabled {
      opacity: 0.5;
    }
  }
  
  .product-quantity--text {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    font-weight: bold;
    min-width: 2ch;
    margin: 0 spacing(1);
  }
}
