.products-card {
  width: 90%;
  max-width: 600px;
}

.product-list {
  @include flex($alignItems: stretch, $justifyContent: flex-start);
  flex-direction: column;
  
  overflow-y: auto;
}

.product-item {
  padding: spacing(2) 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  
  &:not(:last-of-type) {
    border-bottom: 1px solid $productItemSeparatorColor;
  }

  .product-info {
    flex-grow: 1;

    .product-info--name {
      font-weight: bold;
      font-size: 1.2em;
      color: $productNameColor;
    }
    
    .product-info--metadata {
      font-size: 1.1em;
      color: $productMetadataColor;
    }
    
    .product-info--description {
      color: $productDescriptionColor;
    }
  }

  .product-price {
    color: $productPriceColor;
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 spacing(2);
  }
}

.product-actions {
  .product-actions--purchase {
    background-color: $productBuyButtonColor;
    color: $productBuyButtonTextColor;
  }
  
  .product-actions--cancel {
    background-color: $productCancelButtonColor;
    color: $productCancelButtonTextColor;
    margin-right: spacing(1);
  }
  
  .product-actions--done {
    background-color: $productDoneButtonColor;
    color: $productDoneButtonTextColor;
  }
}

.product-quantity {
  @include flex;
  flex-direction: column;
  
  margin-top: spacing(3);
  
  .product-quantity--selector {
    @include flex;
  }
  
  .product-quantity--btn {
    @include flex;

    background: $productQuantityButtonsBackground;
    font-size: 3em;
    font-weight: bold;
    font-family: monospace;
    border-radius: $productQuantityButtonsBorderRadius;
    width: 1.1em;
    height: 1.1em;
    
    color: $textColor;
    
    &:disabled {
      opacity: 0.5;
    }
  }
  
  .product-quantity--text {
    @include flex;

    font-size: 2em;
    font-weight: bold;
    min-width: 2ch;
    margin: 0 spacing(3);
  }
  
  .product-quantity--stock {
    color: $subtleColor;
  }
}
